img{
    max-width:90px;
    max-height:150px;
    object-fit: scale-down;
    border-radius: 10px;
    margin-left: 4px;
}

.topFlopContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: left;
    border-radius: 20px;
    background-color: #8AB476;
    color: black;
    width: 25em;
    height: 10em;
    padding: 1.2em;
    margin-top: 3em;
    box-shadow: 2px 3px 12px #4A6A4A;
}

h1{
    font-size: 1.5em;
    font-weight: 700;
    padding : 0.1em;
    margin : 0.1em;
}

p{
    font-size: 1.25em;
    font-weight: 500;
    padding : 0em;
    margin-bottom: 0px;
    margin-top: 3px;
}