.tab-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.tab-box {
  flex: 1;
  height: 3em;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: #8AB476;

}

.left{
  border-radius: 0px 10px 0px 0px;
}

.mid{
  border-radius: 10px 10px 0px 0px;
}

.right{
  border-radius: 10px 0px 0px 0px;
}
  
.tab-box:hover {
  background-color: #c3f0c9;
}
  
.tab-box a {
  color: white;
  text-decoration: none;
}
  
.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: bottom;
  background-color: #3D7021;
  color: white;
  font-weight: 600;
}

.titleContainer {
  flex-grow: 1;  
  display: flex;
  align-items: center;
  padding-left: 1em;

}

a,
a:visited,
a:hover {
  color: #1976d2;
  text-decoration: none;
}

a:hover {
  color: #125699;
}
footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}
