.toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: bottom;
  background-color: #3D7021;
  color: white;
  font-weight: 600;
}


.tab-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
.tab-box {
  flex: 1;
  height: 3em;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  background-color: #8AB476;

}

.left{
  border-radius: 0px 10px 0px 0px;
}

.mid{
  border-radius: 10px 10px 0px 0px;
}

.right{
  border-radius: 10px 0px 0px 0px;
}
  
  
.tab-box a {
  text-decoration: none;
}

.active-span {
  background-color: #FAF4F2;
  color: black;
 }
  

.titleContainer {
  flex-grow: 1;  
  display: flex;
  align-items: center;
  padding-left: 1em;

}



footer {
  margin-top: 8px;
  display: flex;
  align-items: center;
  line-height: 20px;
}

footer a {
  display: flex;
  align-items: center;
}
.content{
  margin-top: 90px;
  background-color: #FAF4F2;
}
