#pageContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1em;
  padding-top: 1.5em;
}

app-date-picker {
  margin: 0 auto;
}
app-filter-button {
  padding-top: 3em;
  padding-left: 3em;
}
app-intervention-type-toggle {
  padding-top: 5em;
  padding-left: 3em;
}

.dateContainer {
  margin: auto;
}

.intervention-title {
  font-weight: 300;
}

#graph-container {
  display: flex;
  flex: 5;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.axis-title {
  display: flex;
  white-space: break-spaces;
  padding-right: 16px;
  font-size: 1.2em;
}

#zone-chart {
  flex: 4;
  display: flex;
  flex-direction: column;
  padding-left: 3em;
  padding-right: 2em;
  padding-top: 3em;
  padding-bottom: 0;
  justify-content: center;
}

#zone-buttons {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-right: 2em;
}

#right-zone {
  display: flex;
  flex: 1;
  flex-direction: column;
  margin-right: 4em;
  justify-content: center;
}

#legendContainer {
  display: flex;
  width: 100%;
  height: 250px;
  padding: 10px;
  margin-bottom: 10px;
}

#stackedBarChart {
  width: 900;
}

#titleTop {
  font-size: 1.9em;
  font-weight: 500;
  padding-bottom: 1em;
}

.titleBottomTab3 {
  font-size: 1.5em;
  font-weight: 500;
  align-items: center;
  margin-bottom: 1.5em;
}
