
<div id="pageContainer">
  <div id="zone-buttons">
    <app-filter-button (filterChange)="updateWantedKey($event)"></app-filter-button>
    <app-intervention-type-toggle (filterChange)="updateInterventionTypes($event)"></app-intervention-type-toggle>
  </div>

  <div id="graph-container" style="text-align:center;">

      
      <div id="zone-chart">
        <p id="titleTop">Quantité d'interventions selon {{updateLegendName()}}</p>
        <div class="tooltip"></div>
      </div>
    

    <div id="titleBottom"><p>Mois</p></div>
    <div class="dateContainer">
      <app-date-picker (filterChange)="updateDateFilter($event)"></app-date-picker>
    </div>
  
  </div>
  <div id="right-zone">
    <div id="legendContainer">
    </div>
    <p ><i>*Les interventions sont quantifiées en fonction de leur nombre de caractères.</i></p>
  </div>

</div>