<div id="graph-container" style="text-align:center;">
    <div id="zone-buttons">
        <app-intervention-type-toggle></app-intervention-type-toggle>
    </div>
    
    <div id="zone-chart">
        <svg class="waffle" width="525" height="550"></svg>
    </div>
  
    <div id="zone-buttons">
      <app-filter-button (filterChange)="updateWantedKey($event)"></app-filter-button>
      <div id="legendContainer"></div>
    </div>
    
  </div>
  <div class="dateContainer">
    <app-date-picker></app-date-picker>
  </div>