body {
  background-color: #fffcf9;
  font-family: 'Open Sans', sans-serif;
}

.button-group button {
  /* Aesthetic */
  border: none;
  color: white;
  background-color: #8AB476;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  margin-right: 50px;
  border-radius: 10px;

  /* Hover */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button-group button:hover {
  background-color: #3D7021;
}

.flex-container{
  display: flex;
  float: right;                 /* Container on the right side of the page */
  justify-content: flex-start;  /* Buttons on the left side of the container */  
  flex-direction: column;       /* Vertical Placement */
  flex: 1 auto;                 /* Width adapts button content*/

}


.slider {
  -webkit-appearance: none;
  width: 75%;
  height: 5px;
  border-radius: 5px;  
  background: #000000;      
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #04AA6D;        /*Insert background url to put an image on the cursor*/
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04AA6D;
  cursor: pointer;
}

.legend{
  float:right;  /*Ne fonctionne pas, à modifier pour mieux positionner la légende*/
}

