@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,600');

body {
  background-color: #fffcf9;
  font-family: 'Open Sans', sans-serif;
}

div.tooltip { 
    position: absolute;
    text-align: left;
    width: 90px;
    padding: 6px;
    font: 1.4rem sans-serif;
    background: white;
    border: 1px solid lightgrey;
    pointer-events: none;
    opacity: 0.5;  
}

.waffle {
    margin: 10px;
}

.waffle-chart-legend--items {
    display: inline-block;
}

.waffle-chart-legend--text {
    display: inline-block;
    margin-right: 10px;
}

.waffle-chart-legend--items:last-child .waffle-chart-legend--text:after {
  content: " *";
}

.data-path {
  &:hover {
    cursor: pointer;
  }
}
.data-text {
  transition: transform .2s ease-in-out;
  fill: #666;
  &__value {
    font-size: 2.5rem;
    transform: translateY(-.5rem);
    opacity: 0;
  }
  &--show {
    transform: translateY(0);
    animation: fadeGraphTextIn .5s forwards
  }
  &:hover {
    user-select: none;
  }
}
.legend-text {
  fill: #666;
}
@keyframes fadeGraphTextIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.rect {
	width: 20px;
	float: left;
	margin-right: 10px;
}

//////// radio buttons styling
$md-radio-checked-color: rgb(51, 122, 183);
$md-radio-border-color: rgba(0, 0, 0, 0.54);
$md-radio-size: 16px;
$md-radio-checked-size: 8px;
$md-radio-ripple-size: 11px;

@keyframes ripple {
  0% {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.0);
  }
  50% {
    box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 0px 0px 0px $md-radio-ripple-size rgba(0, 0, 0, 0);
  }
}

.button {
    margin: 5px 0;

    &.button-inline {
        display: inline-block;
    }

    input[type="radio"] {
        display: none;
        &:checked + label:before {
            border-color: $md-radio-checked-color;
            animation: ripple 0.2s linear forwards;
        }
        &:checked + label:after {
            transform: scale(1);
        }
    }

    label {
        display: inline-block;
        height:$md-radio-size;
        position: relative;
        padding: 0 ($md-radio-size + 10px);
        margin-bottom: 0;
        cursor: pointer;
        vertical-align: bottom;
        &:before, &:after {
            position: absolute;
            content: '';
            border-radius: 50%;
            transition: all .3s ease;
            transition-property: transform, border-color;
        }
        &:before {
            left: 0;
            top: 0;
            width: $md-radio-size;
            height: $md-radio-size;
            border: 2px solid $md-radio-border-color;
        }
        &:after {
            top: $md-radio-size / 2 - $md-radio-checked-size / 2;
            left: $md-radio-size / 2 - $md-radio-checked-size / 2;
            width:$md-radio-checked-size;
            height:$md-radio-checked-size;
            transform: scale(0);
            background:$md-radio-checked-color;
        }
    }
}



// *************************************

// *************************************
*, *:before, *:after {
  box-sizing: border-box;
}
