body {
  background-color: #fffcf9;
  font-family: 'Open Sans', sans-serif;
}


#graph-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#zone-tooltip{
  flex:1;
  display: flex;
  flex-direction: row;


  color: black;
  width: 25em;
  height: 10em;
  box-shadow: 2px 3px 12px #4A6A4A;

  /* Aesthetic */
  opacity:0;
  border: none;
  background-color: #8AB476;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 10px;
}
#avatar{
  max-width:90px;
  max-height:150px;
  object-fit: scale-down;
  border-radius: 10px;
  margin-left: 4px;
}
#tooltip-details{
  flex: 1;
  #p-name{
    font-size: 1.5em;
    font-weight: 700;
    padding : 0.1em;
    margin : 0.1em;
    margin-bottom: 1em;
  }
}
#zone-chart{
  flex:2;
  display: flex;
  flex-direction: column;
}

#zone-buttons{
  flex:1;
  display: flex;
  flex-direction: column;
}



#tooltip{
  opacity:0;
  background-color:"#8AB476";
  border-radius:"25px";
  padding:"20px";
}

.button-group button {
  /* Aesthetic */
  border: none;
  color: white;
  background-color: #8AB476;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  margin-right: 50px;
  border-radius: 10px;

  /* Hover */
  transition-duration: 0.4s;
  cursor: pointer;
}
.button-group button:hover {
  background-color: #3D7021;
}

.flex-container{
  display: flex;
  float: right;                 /* Container on the right side of the page */
  justify-content: flex-start;  /* Buttons on the left side of the container */  
  flex-direction: column;       /* Vertical Placement */
  flex: 1 auto;                 /* Width adapts button content*/

}




.slideContainer {
  width: 100%;
  margin-top: 20px;
  align-items: center;
}
.slider {
  -webkit-appearance: none;
  width: 75%;
  height: 5px;
  border-radius: 5px;  
  background: #000000;      
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #000000;        /*Insert background url to put an image on the cursor*/
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #000000;
  cursor: pointer;
}

.slider-values {
  margin-left: 250px;
  width: 75%;
  height: 5px;
  display: flex;
  justify-content: space-between;
  margin-top: -50px; /* Adjust as needed */
}

.slider-value {
  font-size: 20px; /* Adjust as needed */
  transform: translateX(-50%);
}

.slider-value:first-child {

}

.slider-value:last-child {

}

*, *:before, *:after {
  box-sizing: border-box;
}
.legend{
  float:right;  /*Ne fonctionne pas, à modifier pour mieux positionner la légende*/
}

