<div id="graph-container" style="text-align:center;">

  <div class="flex-container button-group"> 
    <div style="margin-right: 50px;">Classer par:</div>
    <button (click)="updateWantedKey('genre')" >Genre</button>
    <button (click)="updateWantedKey('parti')">Parti Politique</button>
    <button (click)="updateWantedKey('province')">Province</button>
  </div> 

  <svg class="waffle" width="1000" height="600"></svg>

  <div class="slideContainer">
    <input type="range" min="42" max="44" [value]="wantedLegislature" class="slider" id="myRange" (input)="updateWantedLegislature($event)">
    <div class="slider-values">
      <span *ngFor="let number of [42, 43, 44]" class="slider-value">{{ number }}</span>
    </div>
  </div>
  
  
</div>