<div id="graph-container" style="text-align:center; padding: 2em;">
  <div id="svgContainer">
    <svg id="zone-chart" class="waffle" width="525" height="560">
    </svg>
  </div>
  <div id="zone-buttons">
    <app-filter-button (filterChange)="updateWantedKey($event)"></app-filter-button>
    <div id="legendContainer"></div>
    <p ><i>Les députés affichés sont tous ceux ayant siégés, même en partie seulement, pendant la législature sélectionnée.</i></p>
  </div>
  
</div>
<div class="slideContainer">
  <p id="smallTitle">Législature:</p>
  <input type="range" min="42" max="44" [value]="wantedLegislature" class="slider" id="myRange" (input)="updateWantedLegislature($event)">
  <div class="slider-values">
    <span *ngFor="let number of [42, 43, 44]" class="slider-value">{{ number }}</span>
  </div>
</div>