<div id="graph-container" style="text-align:center; padding: 2em;">
  <div id="zone-tooltip">
    <img src="path/to/avatar.jpg" id="avatar">
    <div id="tooltip-details">
      <p id="p-name"></p>
      <p id="p-parti"></p>
      <p id="p-province"></p>
    </div>
  </div>

  <svg id="zone-chart" class="waffle" width="525" height="560"></svg>

  <div id="zone-buttons">
    <app-filter-button (filterChange)="updateWantedKey($event)"></app-filter-button>
    <div id="legendContainer"></div>
  </div>
  
</div>
<div class="slideContainer">
  <p id="smallTitle">Législature:</p>
  <input type="range" min="42" max="44" [value]="wantedLegislature" class="slider" id="myRange" (input)="updateWantedLegislature($event)">
  <div class="slider-values">
    <span *ngFor="let number of [42, 43, 44]" class="slider-value">{{ number }}</span>
  </div>
</div>