/* .graph{
    width: 95%;
    height: 40%;
    background-color: #fff;
    border-radius: 1px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #f76;
} */

#topPart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-top: 2em;
}

#statsBlock{
    flex: 2;
    justify-content: center;
    align-items: center;
}

#graphContainer{
    flex: 5;
    display: flex;
    border-right: 5px solid black;
    height: 700px;
    background-color: #ff6;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#waffleContainer{
    display: flex;
    width: 95%;
    height: 55%;
    padding: 10px;
    background-color: #aa2
}
/* pour l'instant ça se présente pas bien mais on verra bien comment c'est une fois qu'il y aura des graphes dedans
sauf si quelqu'un s'y connait en css et peut déjà faire une présentation sans utiliser des valeurs absolues*/

#stackedBarChart{
    display: flex;
    width: 95%;
    height: 45%;
    padding: 10px;
    background-color: #44f
}

#legendContainer{
    display: flex;
    width: 15%;
    height: 100%;
    padding: 10px;
    background-color: rgb(251, 251, 252)
}

#statsBlock p{
    font-size: 1.7em;
    font-weight: 500;
    margin: 4em
}
