<div id="topPart">
    <div id="graphContainer">
        <div id="waffleContainer">
            <svg id="waffleChart">

            </svg>
        <div id="legendContainer"></div>
        </div>
    <!-- <div *ngFor="let item of itemList">
        <div class="class2"> {{item.name}}</div>
    </div> -->
        <div id="stackedBarChartContainer">
            <div>
                <h1>Type d'interventions</h1>
                <h3>au sein de la Chambre des Communes</h3>
            </div>
            <svg id="stackedBarChart">

            </svg>
        </div>
    </div>
    <div id="statsBlock">
        <p><span class="statValue"><span id="stat1"></span>%</span> des députés prennent la parole au moins une fois par séance.</p>
        <p><span id="stat2"></span> changé de parti depuis le début de la législature actuelle.</p>
        <p><span class="statValue"><span id="stat3"></span></span> femmes sont devenues députées entre la 43e et la 44e législature.</p>
    </div>
</div>

<div id="bottomPart">
    <div id="titleBottom">
        <p>Palmarès des députés:</p>
    </div>
    <div id="bottomContent">
        <div class="topFlop">
            <div class="topFlopTitle">
                <p>TOP 👍</p>
            </div>
            <top-flop *ngFor="let person of topMPs" [person]="person"></top-flop>
            
        </div>
        <div class="separation">
            <p>&</p>
            <div class="line-vertical arrow-up"></div>
        </div>
        <div class="topFlop">
            <div class="topFlopTitle">
                <p> FLOP 👎</p>
            </div>
            <top-flop *ngFor="let person of flopMPs" [person]="person"></top-flop>
            
        </div>
    </div>
</div>
