<div id="topPart">
    <div id="graphContainer">
        <div id="waffleContainer">
            <svg id="waffleChart">

            </svg>
        <div id="legendContainer"></div>
        </div>
    <!-- <div *ngFor="let item of itemList">
        <div class="class2"> {{item.name}}</div>
    </div> -->
        <div id="stackedBarChartContainer">
            <div>
                <h1>Type d'interventions</h1>
                <h3>au sein de la Chambre des Communes</h3>
            </div>
            <svg id="stackedBarChart">

            </svg>
        </div>
    </div>
    <div id="statsBlock">
        <p><em><span></span>%</em> des députés prennent la parole au moins une fois par séance.</p>
        <p><em><span></span></em> députés ont changé de parti depuis le début de la législature actuelle.</p>
        <p><em><span></span></em> femmes sont devenues députées entre la 43e et la 44e législature.</p>
    </div>
</div>

<div id="bottomPart">


</div>
