<p>intervention-type-toggle works!</p>
<mat-chip-listbox class="mat-mdc-chip-set-stacked" aria-label="Fish selection">
    <mat-chip-option color="primary">
        <img matChipAvatar src="/assets/White_flag_icon.png" alt="White Flag Icon">
        One fish
    </mat-chip-option>
    <mat-chip-option color="primary">
        <img matChipAvatar src="/assets/White_flag_icon.png" alt="White Flag Icon">
        Two fish
    </mat-chip-option>
    <mat-chip-option color="primary">
        <img matChipAvatar src="/assets/White_flag_icon.png" alt="White Flag Icon">
        Primary fish
    </mat-chip-option>
    <mat-chip-option color="primary">
        <img matChipAvatar src="/assets/White_flag_icon.png" alt="White Flag Icon">
        Accent fish
    </mat-chip-option>
    <mat-chip-option color="primary">
        <img matChipAvatar src="/assets/White_flag_icon.png" alt="White Flag Icon">
        Warn fish
    </mat-chip-option>
</mat-chip-listbox>
