.intervention-title {
    text-align: start;
}
img{
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position: relative;
}
.flex-container{
    display: flex;
    flex-direction: row;
    text-align: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.flex-container > button{
    margin: 7px 0;
    /* Aesthetic */
    border: none;
    color: white;
    background-color: #8AB476;
    padding: 7px 0px;
    text-align: center;
    text-decoration: none;
    font-size: 13px;
    width: 82%;
    border-radius: 10px;
}

.flex-container > div {
    flex-wrap: wrap;
    margin: 10 10px;
}