<p>intervention-type-toggle works!</p>
<mat-chip-list class="mat-mdc-chip-set-stacked" aria-label="Fish selection">
    <mat-chip color="primary">
        <img matChipAvatar src="/assets/White_flag_icon.png" alt="White Flag Icon">
        One fish
    </mat-chip>
    <mat-chip color="primary">
        <img matChipAvatar src="/assets/White_flag_icon.png" alt="White Flag Icon">
        Two fish
    </mat-chip>
    <mat-chip color="primary">
        <img matChipAvatar src="/assets/White_flag_icon.png" alt="White Flag Icon">
        Primary fish
    </mat-chip>
    <mat-chip color="primary">
        <img matChipAvatar src="/assets/White_flag_icon.png" alt="White Flag Icon">
        Accent fish
    </mat-chip>
    <mat-chip color="primary">
        <img matChipAvatar src="/assets/White_flag_icon.png" alt="White Flag Icon">
        Warn fish
    </mat-chip>
</mat-chip-list>
